name: test-trigger

on:
  workflow_dispatch:
    inputs:
      who-to-greet:
        description: 'WHo you talking to?'
        required: true
jobs:
  test-trigger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: foo
        name: Who you greeting ${{ github.event.inputs.who-to-greet }}
        uses: frenchris/ghaction-dockerhub-mirror@v1
        with:
          who-to-greet: ${{ github.event.inputs.who-to-greet }}
      - run: echo random-number ${{ steps.foo.outputs.random-number }}
        shell: bash
