name: test-registry-transfer

on:
  workflow_dispatch:
    inputs:
      source-registry:
        description: 'Source-registry'
        required: false
        default: 'docker.01-edu.org'
      source-registry-loggin:
        description: 'Source-registry-loggin'
        required: false
        default: 'root'
      source-registry-password:
        description: 'Source-registry-password'
        required: false
        default: 'GIMMETHEINTERNET'
      source-image:
        description: 'Source-image-to-transfer'
        required: true
jobs:
  test-trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ github.event.inputs.source-registry-loggin }}
          password: ${{ github.event.inputs.source-registry-password }}
          registry: ${{ github.event.inputs.source-registry }}
      # - id: foo
      #   name: Source registry ${{ github.event.inputs.source-registry }}
      #   uses: frenchris/ghaction-dockerhub-mirror@v1
      #   with:
      #     source-registry: ${{ github.event.inputs.source-registry }}
      #     source-registry-loggin: ${{ github.event.inputs.source-registry-loggin }}
      #     source-registry-password: ${{ github.event.inputs.source-registry-password }}
      - name: Echoing a random number
        run: echo random-number ${{ steps.foo.outputs.random-number }}
        shell: bash
      - name: Echoing an input
        run: |
          echo ${{ github.event.inputs.source-image }}
          echo ${{ github.event.inputs.source-image }} 2
          docker pull docker.01-edu.org/test-go
        shell: bash
